  <sl-card class="movie-card">
  <img
    slot="image"
    src="{{tmdbAssetUrl}}/original{{ movie.poster_path }}"
    srcset="
      {{tmdbAssetUrl}}/w92{{ movie.poster_path }} 92w,
      {{tmdbAssetUrl}}/w154{{ movie.poster_path }} 154w,
      {{tmdbAssetUrl}}/w185{{ movie.poster_path }} 185w,
      {{tmdbAssetUrl}}/w342{{ movie.poster_path }} 342w,
      {{tmdbAssetUrl}}/w500{{ movie.poster_path }} 500w,
      {{tmdbAssetUrl}}/w780{{ movie.poster_path }} 780w
    "
    sizes="
      (max-width: 92px) 92px,
      (max-width: 154px) 154px,
      (max-width: 185px) 185px,
      (max-width: 342px) 342px,
      (max-width: 342px) 342px,
      (min-width: 342px) 500px"
    alt="A poster for the movie {{ movie.title }}"
  />
  <div>
    <strong>{{movie.title}}</strong>
  <sl-rating label="Rating" readonly precision="0.5" value="2.5" max="5"></sl-rating>
  </div>
  <div slot="footer" class="no-share">
    <sl-button variant="primary" href="/movie/{{ movie.id }}">More Info</sl-button>
    <sl-icon-button name="share" label="Share" data-share='{{movie | json | escape}}'></sl-icon-button>
  </div>
</sl-card>
