<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <meta
    name="description"
    content="The place to find your favorite movies. Movies 4 You is a website that allows you to search for your favorite movies and TV shows."
  />
  <meta name="application-name" content="Movies 4 You">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Movies 4 You">
  <meta name="color-scheme" content="light dark">
  <meta name="format-detection" content="telephone=no" />
  <meta name="author" content="Manoah Tervoort">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="search" type="application/opensearchdescription+xml" title="Movies 4 You" href="/opensearch.xml" />

  <meta property="og:type" content="website">
  <meta property="og:author" content="Manoah Tervoort">

  {% block og %}
    <meta name="og:title" content="Movies 4 You" />
    <meta
      name="og:description"
      content="The place to find your favorite movies."
    />
    <meta property="og:image" content="https://api-2324.onrender.com/img/logo/android/android-icon-512x512.png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="og:image:type" content="image/png">
  {% endblock %}

  <!-- Page specific -->
  {% block head %}{% endblock %}

  <!-- PWA -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/logo/apple/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/logo/apple/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/logo/apple/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/logo/apple/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/logo/apple/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/logo/apple/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/logo/apple/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/logo/apple/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/logo/apple/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/logo/android/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/logo/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/logo/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/logo/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#0ea5e9">
  <meta name="msapplication-TileImage" content="/img/logo/md/ms-icon-144x144.png">
  <meta name="theme-color" content="#0ea5e9">
  <meta name="msapplication-config" content="/browserconfig.xml">

  <!-- Assets -->
  {% if isDev %}
    <link rel="canonical" href="http://localhost:3000">
    <meta property="og:url" content="http://localhost:3000">
    <script type="module" src="http://localhost:5173/@vite/client" defer></script>
    <script type="module" src="http://localhost:5173/src/assets/js/main.js" defer></script>
  {% else %}
    <link rel="canonical" href="https://api-2324.onrender.com">
    <meta property="og:url" content="https://api-2324.onrender.com">
    <link rel="stylesheet" href="/{{manifest['src/assets/js/main.js'].css[0]}}">
    <script type="module" src="/{{manifest['src/assets/js/main.js'].file}}" defer></script>
    <script nomodule src="/{{manifest['vite/legacy-polyfills-legacy'].file}}" defer></script>
    <script nomodule src="/{{manifest['src/assets/js/main-legacy.js'].file}}" defer></script>
  {% endif %}

  <!-- Shoelace -->
  <link
    rel="stylesheet"
    media="(prefers-color-scheme:light)"
    href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css"
  />
  <link
    rel="stylesheet"
    media="(prefers-color-scheme:dark)"
    href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/dark.css"
    onload="document.documentElement.classList.add('sl-theme-dark');"
  />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"></script>
</head>

<body>
  {% render 'header' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% render 'chat' %}
</body>
</html>
