{% layout "base" %}
{% block og %}
<meta name="og:title" content="{{movie.title}}" />
<meta
  name="og:description"
  content="{{movie.overview}}"
/>
<meta property="og:image" content="{{tmdbAssetUrl}}/w500{{ movie.poster_path }}">
<meta property="og:image:width" content="500">
<meta property="og:image:height" content="750">
<meta property="og:image:type" content="image/png">
{% endblock %}
{% block content %}
<sl-breadcrumb>
  <sl-breadcrumb-item href="/">
    <sl-icon slot="prefix" name="house"></sl-icon>
    Home
  </sl-breadcrumb-item>
  <sl-breadcrumb-item>{{ movie.title }}</sl-breadcrumb-item>
</sl-breadcrumb>
<div class="movie__container">
  <div class="movie__info">
    <img
      src="{{tmdbAssetUrl}}/original{{ movie.poster_path }}"
      srcset="
      {{tmdbAssetUrl}}/w92{{ movie.poster_path }} 92w,
      {{tmdbAssetUrl}}/w154{{ movie.poster_path }} 154w,
      {{tmdbAssetUrl}}/w185{{ movie.poster_path }} 185w,
      {{tmdbAssetUrl}}/w342{{ movie.poster_path }} 342w,
      {{tmdbAssetUrl}}/w500{{ movie.poster_path }} 500w,
      {{tmdbAssetUrl}}/w780{{ movie.poster_path }} 780w"
    sizes="
      (min-width: 250px) 342px,
      100vw"
      alt="Movie poster for {{ movie.title }}"
      class="movie__info-image">
    <h1 class="h1">{{ movie.title }}</h1>
    <p class="movie__info-description">{{ movie.overview }}</p>
    <dl>
      <dt>Release date:</dt>
      <dd>{{ movie.release_date }}</dd>
      <dt>Rating:</dt>
      <dd>{{ movie.vote_average }}</dd>
    </dl>
    {% if movie.video %}
      {% render 'youtube', key: movie.video.key %}
    {% endif %}
  </div>

  <div class="backdrop-image__container">
    <img
    src="{{tmdbAssetUrl}}/original{{ movie.backdrop_path }}"
    srcset="
      {{tmdbAssetUrl}}/w300{{ movie.poster_path }} 300w,
      {{tmdbAssetUrl}}/w780{{ movie.poster_path }} 780w,
      {{tmdbAssetUrl}}/w1280{{ movie.poster_path }} 1280w"
    sizes="100vw"
    alt="Movie backdrop for {{ movie.title }}"
    class="backdrop-image">
  </div>
</div>
{% endblock %}
